<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="factory" type="xstring" value="org.knime.base.node.preproc.rename.RenameNodeFactory"/>
<entry key="node-name" type="xstring" value="Column Rename"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<config key="factory_settings"/>
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="all_columns">
<config key="codgeo">
<entry key="old_column_name" type="xstring" value="codgeo"/>
<entry key="new_column_name" type="xstring" isnull="true" value=""/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="Liste des communes ayant un service de police municipale">
<entry key="old_column_name" type="xstring" value="Liste des communes ayant un service de police municipale"/>
<entry key="new_column_name" type="xstring" value="Label"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="Nombre de policiers municipaux">
<entry key="old_column_name" type="xstring" value="Nombre de policiers municipaux"/>
<entry key="new_column_name" type="xstring" isnull="true" value=""/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="Nombre d’Agents de Surveillance de la voie publique">
<entry key="old_column_name" type="xstring" value="Nombre d’Agents de Surveillance de la voie publique"/>
<entry key="new_column_name" type="xstring" isnull="true" value=""/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="Nombre de gardes-champêtres">
<entry key="old_column_name" type="xstring" value="Nombre de gardes-champêtres"/>
<entry key="new_column_name" type="xstring" isnull="true" value=""/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="Nombre de centres de supervision urbaine (CSU)">
<entry key="old_column_name" type="xstring" value="Nombre de centres de supervision urbaine (CSU)"/>
<entry key="new_column_name" type="xstring" isnull="true" value=""/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="Nom Ville">
<entry key="old_column_name" type="xstring" value="Nom Ville"/>
<entry key="new_column_name" type="xstring" value="Ville"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="MAJ">
<entry key="old_column_name" type="xstring" value="MAJ"/>
<entry key="new_column_name" type="xstring" isnull="true" value=""/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="Code Postal">
<entry key="old_column_name" type="xstring" value="Code Postal"/>
<entry key="new_column_name" type="xstring" isnull="true" value=""/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="Code Région">
<entry key="old_column_name" type="xstring" value="Code Région"/>
<entry key="new_column_name" type="xstring" isnull="true" value=""/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="Latitude">
<entry key="old_column_name" type="xstring" value="Latitude"/>
<entry key="new_column_name" type="xstring" isnull="true" value=""/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="Longitude">
<entry key="old_column_name" type="xstring" value="Longitude"/>
<entry key="new_column_name" type="xstring" isnull="true" value=""/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="Eloignement">
<entry key="old_column_name" type="xstring" value="Eloignement"/>
<entry key="new_column_name" type="xstring" isnull="true" value=""/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
</config>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="name" type="xstring" value="Column Rename"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 3604, Cols: 13"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="33664a6d-7a44-4244-b0c8-36ed7880ac02"/>
</config>
</config>
