body {
  background-color: #eaeaea;
}

.box {
  background-color: #ffffff;
  margin-top: 10px;
  border-radius: 2px;
  padding: 5px;
}

.box h1 {
  color: #757575;
  font-size: 1.3em;
  margin-left: 20px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 1px #eaeaea;
}

.time-box {
}

.time-box .time-wrapper {
  width: 100%;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
}

.time-box .time-btn {
  height: 100%;
  width: 5%;
  margin-right: 0;
  border-right: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  float: left;
}

.time-box .time-progressbar {
  display: inline-block;
  width: 95%;
  height: 100%;
  margin: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.time-box .time-progressbar .progress-bar {
  line-height: inherit;
}

.map-box {
  height: 600px;
}

.map-box .map {
  width: 100%;
  height: 100%;
}
