<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="factory" type="xstring" value="org.knime.base.node.preproc.rename.RenameNodeFactory"/>
<entry key="node-name" type="xstring" value="Column Rename"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<config key="factory_settings"/>
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="all_columns">
<config key="Ville">
<entry key="old_column_name" type="xstring" value="Ville"/>
<entry key="new_column_name" type="xstring" isnull="true" value=""/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="Code Postal">
<entry key="old_column_name" type="xstring" value="Code Postal"/>
<entry key="new_column_name" type="xstring" value="CP"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="Adresse">
<entry key="old_column_name" type="xstring" value="Adresse"/>
<entry key="new_column_name" type="xstring" isnull="true" value=""/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="Longitude">
<entry key="old_column_name" type="xstring" value="Longitude"/>
<entry key="new_column_name" type="xstring" isnull="true" value=""/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="Latitude">
<entry key="old_column_name" type="xstring" value="Latitude"/>
<entry key="new_column_name" type="xstring" isnull="true" value=""/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="Type">
<entry key="old_column_name" type="xstring" value="Type"/>
<entry key="new_column_name" type="xstring" isnull="true" value=""/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="nbAgents">
<entry key="old_column_name" type="xstring" value="nbAgents"/>
<entry key="new_column_name" type="xstring" value="Effectif"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="superficie">
<entry key="old_column_name" type="xstring" value="superficie"/>
<entry key="new_column_name" type="xstring" isnull="true" value=""/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="population">
<entry key="old_column_name" type="xstring" value="population"/>
<entry key="new_column_name" type="xstring" isnull="true" value=""/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="code_reg">
<entry key="old_column_name" type="xstring" value="code_reg"/>
<entry key="new_column_name" type="xstring" value="noReg"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="idDepFromCP">
<entry key="old_column_name" type="xstring" value="idDepFromCP"/>
<entry key="new_column_name" type="xstring" value="noDept"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="gn2013">
<entry key="old_column_name" type="xstring" value="gn2013"/>
<entry key="new_column_name" type="xstring" isnull="true" value=""/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="gd2013">
<entry key="old_column_name" type="xstring" value="gd2013"/>
<entry key="new_column_name" type="xstring" isnull="true" value=""/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="pn2013">
<entry key="old_column_name" type="xstring" value="pn2013"/>
<entry key="new_column_name" type="xstring" isnull="true" value=""/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
</config>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="name" type="xstring" value="Column Rename"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 9504, Cols: 14"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="73775ed6-6191-499b-8d30-309556fba789"/>
</config>
</config>
